@import "tailwindcss";
@import "./fonts.css";

/* Импорт стилей библиотек */

/* Импорт стилей компонентов */

@utility container {
  @apply mx-auto px-5 max-w-full lg:px-18;
}

@utility flex-full {
  @apply flex-[1_1_100%];
}

@utility flex-r-center {
  @apply flex justify-center items-center;
}

@theme static {
  --font-magnola: "Magnola", sans-serif;
  --font-imprima: "Imprima", sans-serif;
  --font-gothic: "Gothic", sans-serif;
  --font-spectral: "Spectral", sans-serif;
  --font-spectral-italic: "Spectral-italic", sans-serif;
  --font-spectral-semibold: "Spectral-semibold", sans-serif;

  /* Обычные цвета. Пример использования:  lightBlue */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-lightBlue: #e9faff;
  --color-orange: #ff7a00;
  --color-lightPink: #ffe8ff;
  --color-beige: #faebd7;
}

/* Общие стили проекта */
main {
  @apply text-black flex-full;
}

html {
  @apply text-[0.8rem] leading-[1.2] tracking-[0.1rem] font-normal;
  font-family: "Gothic", sans-serif;
}

.wrapper {
  @apply bg-lightBlue w-full min-h-dvh flex flex-col relative;
}

.section-gutter {
  @apply mt-[70px] lg:mt-42;
}
