/* Шрифты */

@font-face {
  font-family: "Gothic";
  font-display: swap;
  src: url("/fonts/gothic/Gothic.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Magnola";
  font-display: swap;
  src:
    url("/fonts/magnola/magnolia-script.woff2") format("woff2"),
    url("/fonts/magnola/magnolia-script.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Imprima";
  font-display: swap;
  src: url("/fonts/imprima/Imprima-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  font-display: swap;
  src: url("/fonts/spectral/Spectral-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Spectral-italic";
  font-display: swap;
  src: url("/fonts/spectral/Spectral-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Spectral-semibold";
  font-display: swap;
  src: url("/fonts/spectral/Spectral-SemiBoldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
